.mainBox{
    display: flex;
    align-items:center;
    resize: both;
    overflow: auto;
    background: #808080;
    height: 100px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
.logo{
    padding-left:5%;
    float:left;
}
nav{
    position: relative;
    background: gray;
    padding-right: 100px;
}
nav a{

    font-size: 15px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display:inline-block;
    text-align: center;
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;

}


a:hover{
    background: rgb(153, 153, 153);
    border-style:  solid;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-width:5px;
}
