<div class="mainBox">
  <img class="logo" src="../../../assets/logo.png">
  <nav class="nav_links">
    <a href="#">Service</a>
    <a href="#">Projets</a>
    <a href="#">Contact</a>
    <div class ="animation start-home"></div>
  </nav>
</div>