<div class="mainBox">
    <app-header></app-header>
    <div class="space"></div>
    <div class="content">
        <div>
            <img src="../../../assets/ingenieur.jpg">
        </div>
        <div class="introText">
            <p>Service de documentation sur tous les domaines de l'ingénierie nordique: Pergélisol, glace, neige, effets
                du
                gel sur les structures, construction nordique, effets des changements climatiques dans l'Artique,
                congélation artificielle.</p>

            <div>
                <button class="btn">En savoir plus</button>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>