.content{
    position: relative;
    margin: auto;
    background: rgba(255, 252, 252, 0.94);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 500px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;

}
.introText{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 200px;

}
.space{
    height: 150px;
}
p{
    padding-top: 50px;
    padding-bottom: 30px;
}
.btn {
    padding: 0.35em 1.2em;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background: rgba(196, 196, 196, 0);
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    font-size: 24px;

  }
  
  .btn:hover {
    color: #000000;
    background-color: #ffb34f;
  }

img {
    float:left;
}