/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: defaultFont;
    src: url("./assets/police.otf");
  }
  * {
    font-family: defaultFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-image: url("./assets/bridge.png");
    background-color: #cccccc;
  }